<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>智能客服系统</title>
        <link rel="stylesheet" href="static/plugin/bootstrap/css/bootstrap.css">

    </head>
<body>
    <div class="container-fluid">
		<!-- Header -->
		<div class="row">
			<div class="col-lg-4" style="margin-top:5px;margin-bottom:10px;">
                <img src="../static/images/logo.png" style="height:60px;"/>
            </div>
			<div class="col-lg-6"></div>
			<div class="col-lg-1" style="margin-top:20px;">
				<a href="{% url 'userManageSys:login'%}" class="btn btn-primary">登录</a>
			</div>
            <div class="col-lg-1" style="margin-top:20px;">
				<a href="{% url 'userManageSys:register' %}" class="btn btn-primary">注册</a>
			</div>
		</div>
    </div>
</body>
</html>